
.ulNavbar{
    margin: 0;
    padding: 0;
}

.background {
    background-color: rgb(229, 229, 229);
};

.cartNotification{
    background-color: red;
    text-align: center;
    border-radius: 1rem;
}

.linkNavegacion {
    text-decoration: none;
    color: rgb(116, 116, 116)
}

.logoSize {
    width: 5rem;
}

