
.ulNavbar{
    margin: 0;
    padding: 0;
}

.cartNotification{
    background-color: red;
    text-align: center;
    border-radius: 1rem;
}

.linkNavegacion {
    text-decoration: none;
    color: white
}

.logoSize {
    width: 6rem;
}

.background {
    background-color: rgb(8, 6, 6);
};